<h1>Stories</h1>

<ul>
  <% @stories.each do |story| %>
    <li><%= link_to story.title, story_path(story) %>  (started <%= time_ago_in_words(story.created_at) %> ago)</li>
  <% end %>
</ul>

<p><%= link_to "Create a New Story", new_story_path %></p>
<p><%= link_to "View Inspiring Images", images_path %></p>

<div class="col-xs-6">
  <%= form_tag stories_path, :method => "get" do%>
  <p>
    <h4>Search for Stories:</h4>
    <%= text_field_tag :title, params[:title], :class => "form-control" %>
    <%= submit_tag "Search", :name => nil, :class => "btn btn-primary" %>
  </p>
  <% end %>
</div>
